html, body {
  height: 100%;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header {
  position: relative;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJW535FVK94VnbnGhnXzDXL-vn1_8NFPlqy0J5OJCd2YvchaO2iDs1MKTruWmHmXJYmmo&usqp=CAU');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.6); /* escurece a imagem */
  z-index: 0;
}

header h1,
header nav {
  position: relative;
  z-index: 1;
}
main {
  flex: 1;
}
nav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
nav a {
  margin: 0 10px;
  font-weight: bold;
  color: #ffeabf;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3);
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #cfa96d;
  text-shadow: 0 0 5px #cfa96d;
}
main {
  padding: 20px;
}

#painel-notas {
  position: fixed;
  right: 10px;
  top: 80px;
  width: 300px;
  height: 80vh;
  background: #fff9eb;
  border: 2px solid #987554;
  padding: 10px;
  box-shadow: 0 0 10px #0005;
  z-index: 10;
}
.ql-editor {
  color: #2f2f2f;
}
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.card {
  background-color: #f4f1e6;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  max-width: 100%;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.card h3 {
  padding: 10px;
  margin: 0;
  font-size: 1.1rem;
  color: #4b661f;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
